a,
span {
  color: #faa549ff;
}

iframe {
  border: 0px;
}

.videos-resources {
  display: inline-flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.videos {
  margin: 20px;
  justify-content: center;
}

/* media queries */

/* changes the videos on the page to be properly sized ina straight line vertically */
@media screen and (max-width: 428px) {
  .videos-resources iframe {
    width: 100%;
  }
}
