nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem 5rem;
  font-size: 1.5625rem;
}

nav li a:hover {
  background-color: #f08782;
  border-radius: 15px;
}

/* for react router setting of navlink to display differently when active */
.activeNav {
  color: black;
  background-color: #faa549ff;
  border-radius: 15px;
}

/* media queries */

/* tablet size screens */
@media screen and (max-width: 768px) {
  nav ul {
    display: block;
    padding-right: 40px;
  }

  nav li a {
    margin: 10px 0;
    padding: 1rem 2rem;
  }
}
/* phone size screens */
@media screen and (max-width: 428px) {
  nav li a {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 1rem 3rem;
  }
}
