@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #373737ff;
  color: #faa549ff;
  margin: 0 auto;
}

h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #f08782;
  background-color: white;
  border: thick double #faa549ff;
  border-radius: 20px;
  padding: 0.625rem;
}

.main-part {
  margin: 0 auto;
  top: 100px;
  width: 90%;
}

p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

header h1 {
  font-size: 6rem;
}

.header-title {
  margin: 0 auto;
  text-align: center;
}

.func-button button {
  background-color: #faa549ff;
  border: 3px solid darkgray;
  /* added inherit because the buttons would not accept the font family any other way */
  font-family: inherit;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all
}

.func-button button:hover {
  background-color: #f08782;
  color:white;
}

.func-button button:active {
  /* Scaling button to 0.98 to its original size */
  transform: scale(0.98);
  /* Lowering the shadow */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* media queries */

/* tablet size screens */
@media screen and (max-width: 786px) {
  header h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* phone size screens */
@media screen and (max-width: 428px) {
  header h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}