h3 {
  font-size: 1.25rem;
  text-align: center;
}

.question-card {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.23) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 90%;
  height: auto;
}

.direction {
  float: right;
}

.question-info {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 0.625rem;
  justify-items: center;
  align-items: center;
}

.question-img {
  width: 350px;
  grid-column: 2/ 3;
  grid-row: 1 / span 2;
}

.question-text {
  grid-column: 1;
  grid-row: 1;
}

.synopsis {
  font-size: 1rem;
  grid-column: 1;
  grid-row: 2;
}

.answer-text ul {
  list-style: none;
  padding: 0;
}

.answer-text button {
  width: 48%;
}

.final-score {
  width: 60%;
}

.final-score h3 {
  font-size: 1.8rem;
}

/* media queries */

/* tablet size screens */
@media screen and (max-width: 820px) {
  .answer-text button {
    /* widen the button */
    width: 97.5%;
  }

  .final-score {
    /* change the space of the score card when it is shown */
    width: 80%;
  }
}

/* phone size screens */
@media screen and (max-width: 428px) {
  .question-img {
    /* adjusts where the img is in the grid to change the layout of the page  */
    grid-column: 1;
    grid-row: 2;
    max-width: 100%;
  }

  .answer-text button {
    /* widen the button */
    width: 95%;
  }

  .synopsis {
    /* change the synopsis location in the gri */
    grid-row: 3;
  }

  .direction {
    float: none;
    text-align: center;
  }
}
