name: GitHub Actions Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  pull_request:
    branches:
      - main
jobs:
  eslint:
    name: Lint Code
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pacakges
        run: npm ci
      - name: Run ESLint
        run: npm run lint
      - name: Run Test locally
        run: npm run ci:test

  Deploy-Production:
    runs-on: ubuntu-latest
    needs: eslint
    steps:
      - uses: actions/checkout@v3
      - name: Install Vercel CLI
        run: npm install --global vercel@canary
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        id: production-deploy
        run: echo "URL=$(vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }} | tail -n 1)" >> $GITHUB_OUTPUT
      # - id: get-comment-body
      #   run: |
      #     body="$(cat deployment.txt)"
      #     delimiter="$(openssl rand -hex 8)"
      #     echo "body<<$delimiter" >> $GITHUB_OUTPUT
      #     echo "$body" >> $GITHUB_OUTPUT
      #     echo "$delimiter" >> $GITHUB_OUTPUT
      - name: Comment Preview Deployment 2
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            The current changes were successfully deployed to the preview enviroment.

            The preview enviroment for this deployment can be found at: ${{ steps.production-deploy.outputs.URL }}.

            Please check if the project is running as expect with your changes.
          comment_tag: execution
          reactions:
            hooray, eyes, heart